/* style.css */

html{
    margin: 30px;
    margin-top: 0px;
}

:link, :visited {
    text-decoration: none;
    color: #000000;
}

:link:hover{
    text-decoration: underline;
}

.center {
    text-align: center;
}

.title {
    font-size: 120%;
    font-weight: bold;
}

div.menu{
    float: left;
    width: 20%;
/*background-color: red;*/
}

.menu_link{
    display: block;
    width: 160px;
background-color: #B0C4DE;
/*    background-color: #eeeeee;*/
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px #4682B4 solid;
}

.menu_link:hover{
    color: #c71585;
    background-color: #AFEEEE;
    text-decoration: none;
}

.menu #menu_lab_box a{
    background-color: #20b2aa;
}

.menu #menu_lab_box a:hover{
    background-color: #afdeaf;
}

div.content{
    float: right;
    width: 80%;
    margin-top: 20px;
/*background-color: blue;*/
}

table.result {
    margin-left: 30%;
    width: 40%;
    margin-right: 30%;
    border: 1px #CCCCCC solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.result th {
    text-align: left;
    background-color: #EEEEEE;
    padding: 10px;
    border: 1px #CCCCCC solid;
}

table.result td {
    padding: 10px;
    border: 1px #CCCCCC solid;
}
